@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
    /*font-family: Arial, sans-serif;*/
    font-family: "Poppins", sans-serif;
    background-color: #008374; 
}

h2{
    font-size: 35px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; 
    border: 1px solid rgb(220, 218, 218);
    border-radius: 15px;
    background-color: white;
}

.form-group {
    margin-bottom: 15px;
    padding-right: 10px;
}

.form-group1 {
   
    margin-bottom: 15px;
    padding-right: 10px;
    
}
.form-group1 label{
    font-size: 0.8rem;
    font-weight: 450;
}

.btn {
    margin: 0;
    background-color: #008374;
    border: 0;
    border-radius: 20px;
    width: 150px;
    height: 41px;
    font-weight: 550;
    font-size: 1rem;
    color: white;
  }

.btn :hover{
  background-color: #029281;
  color: white;
}

label {
    font-weight:700;
    padding-left: 20px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding:  10px;
    border: 2px solid rgb(233, 232, 232);
    border-radius: 4px;
    font-weight: 500;
}

input[type="file"] {
    padding: 5px;
}

.error {
    color: red;
}

#input-field{
    background-color: #f0f0f0;
    border-radius: 55px;
}

.licensedDocument{
    border-radius: 50px;
    padding: 2px;
    font-size: 12px;
    color: #000;
}

.licensedDocument::-webkit-file-upload-button{
    background-color: #008374;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}